<a href="https://colab.research.google.com/github/freddy-7/Prueba/blob/main/3_Valores_at%C3%ADpicos_Columnas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [4]:
#Carga desde un archivo .csv sin indice
data= pd.read_csv('Inmuebles_sin_nulos.csv')

In [9]:
#Obtengo información del Dataframe
data.head()

,Unnamed: 0,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,0,01/01/2004 00:00,Parking,Alquiler,Lleida,291.0,9133903,19/06/2004 00:00,Carmen
1,1,01/01/2004 00:00,Local,Venta,Girona,185.0,1945424,19/04/2004 00:00,Pedro
2,2,01/01/2004 00:00,Oficina,Alquiler,Girona,82.0,1121906,08/11/2004 00:00,Joaquín
3,3,02/01/2004 00:00,Parking,Alquiler,Girona,285.0,1121906,27/04/2004 00:00,Jesús
4,4,02/01/2004 00:00,Suelo,Venta,Tarragona,152.0,185000,10/07/2004 00:00,María

In [ ]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

In [ ]:
#Realizamos histograma de variables cuantitativas
fig = plt.figure(figsize =(5, 3))
plt.hist(x=data["Precio Venta"], color='blue', rwidth=0.50)
plt.title('Histograma de Precio de ventas')
plt.xlabel('Precio Venta')
plt.ylabel('Frecuencia')

plt.show() #dibujamos el histograma

In [ ]:
#Realizamos diagrama de caja o bigote
fig = plt.figure(figsize =(10, 6))
plt.boxplot(data["Precio Venta"]) 
plt.title("Outliers de Precio Venta")
plt.show() #dibujamos el diagrama