<a href="https://colab.research.google.com/github/freddy-7/Prueba/blob/main/8_Regresion_No_Lineal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Cargamos librerias
import numpy as np
import matplotlib.pyplot as plt
import scipy.special as special
from scipy.optimize import curve_fit
import seaborn as sns
from sklearn.metrics import r2_score

In [ ]:
#Cargar archivo csv desde seaborn
df=sns.load_dataset(name='car_crashes')
df.head(5)

In [ ]:
#Graficamos todas las dispersiones entre todas las variables
sns.pairplot(df)

In [13]:
#Declaramos las variables dependientes e independientes para la regresión No lineal
Vars_Indep= df[['ins_losses']]
Var_Dep= df['total']

In [14]:
#Redefinimos las variables 
x= Vars_Indep
y= Var_Dep

   ** Usamos las siguientes ecuaciones como funciones de ajuste.**

            y = ax^2 + bx + c

            y = ax^3 + bx + c

            y = ax^3 + bx^2 + c

            y = a*exp(bx) + c

**MODELO 1**

In [15]:
def  func1 (x, a, b, c):
     return a*x**2 + b*x + c

In [17]:
#Ajustamos los parámetros de la función curve_fit
parametros, covs= curve_fit(func1, df['ins_losses'], df['total'])

In [18]:
#Obtenemos los coeficientes del modelo de regresión no lineal
parametros

array([ 6.31404246e-04, -1.78288232e-01,  2.79658165e+01])

In [19]:
#Creamos el modelo de predicción con los parámetros obtenidos 
parametros, _ = curve_fit(func1, df['ins_losses'], df['total'])
a, b, c = parametros[ 0 ], parametros[ 1 ], parametros[ 2 ]
yfit1 = a * x ** 2 + b * x + c

In [20]:
#Calculamos las predicciones y reestructuramos el vector de predicciones
#x= x.reshape(51, 1)
#y = y.reshape(51, 1)
#yfit1 = yfit1.reshape(51, 1)
yfit1

    ins_losses
0    15.389687
1    15.413326
2    15.980397
3    15.381021
4    15.757437
5    15.381127
6    15.801567
7    15.447037
8    15.396744
9    15.385770
10   15.381751
11   15.639373
12   17.536045
13   15.382714
14   16.037369
15   15.830693
16   15.414528
17   15.390479
18   17.193837
19   16.636850
20   17.055791
21   15.399578
22   15.457563
23   15.418852
24   15.514436
25   15.386838
26   17.362584
27   15.818963
28   15.383967
29   15.657860
30   15.600098
31   15.643742
32   15.429289
33   15.492867
34   16.005178
35   15.417188
36   16.276373
37   16.224700
38   15.481558
39   15.414642
40   15.771388
41   16.620005
42   15.510778
43   15.534670
44   16.014750
45   16.009556
46   15.479330
47   15.931965
48   15.461816
49   16.134418
50   15.611505

In [ ]:
#Graficamos las predicciones y los datos originales para realizar la comparación
plt.plot(x, y, 'bo', label="y-original")
plt.plot(x, yfit1, label="y=a*x^2+b*x+c")
plt.xlabel('x')
plt.ylabel('y')
plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid(True)
plt.show()

In [22]:
#Calculamos el coeficiente de determinación del modelo

R2 = r2_score(y, yfit1) 
R2

0.017528478101237477

**MODELO 2**

In [23]:
def func2(x, a, b, c):
    return a*np.exp(b*x)+c

In [ ]:
#Ajustamos los parámetros de la función curve_fit
parametros2, covs2= curve_fit(func2, df['ins_losses'], df['total'])

In [25]:
#Obtenemos los coeficientes del modelo de regresión no lineal
parametros2

array([1.67134480e-14, 9.99999998e-01, 1.00000000e+00])

In [ ]:
#Creamos el modelo de predicción con los parámetros obtenidos 
parametros2, _ = curve_fit(func2, df['ins_losses'], df['total'])
a2, b2, c2 = parametros2[ 0 ], parametros2[ 1 ], parametros2[ 2 ]
yfit2 = a2*np.exp(x*b2)+c2

In [ ]:
#Calculamos las predicciones y reestructuramos el vector de predicciones
#yfit2 = yfit2.reshape(51, 1)
yfit2

In [ ]:
#Graficamos las predicciones y los datos originales para realizar la comparación
plt.plot(x, y, 'bo', label="y-original")
plt.plot(x, yfit2, label="a*exp(x*b)+c")
plt.xlabel('x')
plt.ylabel('y')
plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid(True)
plt.show()

In [30]:
#Calculamos el coeficiente de determinación del modelo
R2 = r2_score(y, yfit2) 
R2

-5.09834981244113e+138